@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .text-body{
        @apply text-base font-normal leading-6;
    }
    .grid-sys{
        @apply grid grid-cols-5;
    }
    .writing-vertical{
        writing-mode: sideways-lr;
    }
    html {

        scroll-behavior: smooth !important;
    }
    /* html {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;  
    }
    html::-webkit-scrollbar { 
        width: 0;
        height: 0;
    } */
}